*.pdf
!img/durham_logo.pdf
main.bb
main.bbl
main.blg
*.eps
*.sh
*.zip
*.dvi
build/
img/build/
*.gen
/prv_main.log
/prv_main.ini
/main.toc
/main.tdo
/main.synctex.gz
/main.rip~
/main.rip
/main.out
/main.log
/main.lof
/main.fls
/main.fdb_latexmk
/main.aux
/dmathesis.cls~
/_region_.tex
/_region_.log
/Plebanski-Demianski.nb
/.DS_Store
